{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock %}

{% block extra_css %}
<style>
    .required {
        color: red;
        font-weight: 700;
        border: 0
    }
    main{
        color: #000 !important;
    }
    label {
        color: #000 !important;
    }
    button {
        color:#fff !important;
    }
    ul.payment_methods {
        text-align: left;
        padding: 1em;
        border-bottom: 1px solid var(--ast-border-color);
        margin: 0;
        list-style: none outside;
    }
    .payment_box{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        padding: 1em;
        margin: 1em 0;
        font-size: .92em;
        border-radius: 2px;
        line-height: 1.5;
        background-color: #dfdcde;
        color: #515151;
    }
    .stretched-link {
        color: #0d6efd !important;
        text-decoration: underline;
        padding-bottom:5px;
    }
    span.selection {
        width: 100% !important;
    }
</style>
{% endblock %}

{% block content %}
<section class="checkout-wrapper section">
    <form action="" method="post" style="width:100%">


        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="w-100 text-center py-3 card mb-2">
                        <h6 class="mb-2">অর্ডার করতে সমস্যা হলে WhatsApp করুন (+88) 01837-724712 (সকাল ১০টা–রাত ৯টা) বা আমাদের ফেসবুক পেজে মেসেজ দিন, একাধিক অর্ডার হলে আপডেট করতে <a class="stretched-link" href="https://www.facebook.com/shornamart" target="_blank">এখানে ক্লিক করুন</a>।</h6>
                        <h6>অর্ডারটি সম্পন্ন করতে <a class="stretched-link" href="#checkout">Place order</a> এ ক্লিক করুন। ভুল বা বেশি প্রোডাক্ট সিলেক্ট হয়ে গেলে কার্ট পেজে গিয়ে, মাইনাস (-) এ ক্লিক করে রিমুভ করুন। <a class="stretched-link" href="/cart" target="_blank">View Cart</a></h6>
                    </div>
                </div>
                <!-- personal details -->
                <div class="col-lg-8">
                    <div class="checkout-steps-form-style-1">
                        <ul id="accordionExample">
                            <li>
                                <h6 class="title" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">Shipping Details </h6>
                                <section class="checkout-steps-form-content collapse show" id="collapseThree"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Full name (নাম) <span class="required" aria-hidden="true">*</span></label>
                                                <div class="row">
                                                    <div class="col-md-12 form-input form">
                                                        <input type="text" placeholder="Full Name" required name="name" id="name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Full address (ঠিকানা) <span class="required" aria-hidden="true">*</span></label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Full Address: House no, road no, block, area" required name="address" id="address">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>District (জেলার) <span class="required" aria-hidden="true">*</span></label>
                                                <div class="form-input form">
                                                    <select name="district" id="district" class="form-control">
                                                        <option value="">Select District</option>
                                                        {% for obj in districts %}
                                                            <option
                                                                value="{{ obj.pk }}"
                                                                {% if cart.district and cart.district.pk == obj.pk %}selected{% endif %}
                                                            >
                                                                {{ obj }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Phone (মোবাইল নাম্বার) <span class="required" aria-hidden="true">*</span></label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Phone" required name="phone" id="phone">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Post Code <span class="required" aria-hidden="true">*</span></label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Post Code" required name="postal_code" id="post_code">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Order notes (optional)</label>
                                                <div class="form-input form">
                                                    <textarea name="note" id="note" rows="2"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- payment information -->
                <div class="col-lg-4">
                    <div class="checkout-sidebar">

                        <div class="checkout-sidebar-coupon mb-2">
                            <p>Apply Coupon to get discount!</p>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="single-form form-default">
                                    <div class="form-input form">
                                        <input type="text" placeholder="Coupon Code">
                                    </div>
                                    <div class="button">
                                        <button class="btn" type="submit" name="submit" value="coupon">apply</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                        <div class="checkout-sidebar-price-table">
                            <h3>Order Summery</h3>

                            <div class="sub-total-price">
                                <small id="shipping-message" style="display:none; color:green; margin-top:5px;text-align:center;padding:10px">
                                    আপনার ঠিকানা অনুযায়ী শিপিং চার্জ আপডেট হয়েছে।
                                </small>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Item Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cart.items.all %}
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                {{ item.product.name }} &nbsp;	<strong class="product-quantity">×&nbsp; {{ item.quantity }}</strong>											</td>
                                            </td>
                                            <td>৳ {{ item.total_price }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td class="product-name">Subtotal</td>
                                            <td>৳ {{ cart.subtotal|default_if_none:"0" }}</td>
                                        </tr>
                                        <tr>
                                            <td class="product-name">Shipping Charge</td>
                                            <td id="shipping-charge">৳ {{ cart.get_shipping_charge|default_if_none:"0"}}</td>
                                        </tr>
                                        <tr>
                                            <th class="product-name">Total Price</th>
                                            <th class="product-total" id="grand-total">৳{{ cart.grand_total|default_if_none:"0" }}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="total-payable">
                                <div class="payable-price">
                                    <ul class="payment_methods">
                                        <li class="payment_method_cod">
                                            <input id="payment_method_cod" type="radio" class="input-radio"
                                                name="payment_method" value="cod" checked="checked" data-order_button_text=""
                                            >
                                            <label for="payment_method_cod"> ক্যাশ অন ডেলিভার </label>
                                            <div class="payment_box payment_method_cod">
                                                <p>পণ্য হাতে বুজে নিয়ে টাকা পরিশোধ করুন।</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="price-table-btn button mt-0">
                                <button type="submit" class="btn btn-bg-primary w-100" id="checkout">Place order </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<!--====== Checkout Form Steps Part Ends ======-->
{% endblock %}

{% block extra_js %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('select').select2();
    });
</script>
<script>
    $(document).ready(function() {
        $('#district').select2({
            placeholder: 'Select your district',
            allowClear: false
        });

        // calculation ajax
        $("#district").on("change", function () {
            var url = "{% url 'cart_shipping_ajax' %}";

            var district_id = $(this).val();
            var name = $("#name").val();
            var address = $("#address").val();
            var phone = $("#phone").val();
            var post_code = $("#post_code").val();
            var note = $("#note").val();

            console.log('district_id ', district_id);

            $.ajax({
                url: url,
                data: {
                    "district_id": district_id,
                    "cart_id": "{{cart.id}}",
                    "name": name,
                    "address": address,
                    "phone": phone,
                    "post_code": post_code,
                    "note": note
                },
                traditional: true,  // 👈 add this line
                success: function (data) {
                    console.log('ajax success', data);
                    // location.reload();
                    if (data.success) {
                        // Update price
                        $("#shipping-charge").text("৳ " + data.shipping_charge);
                        $("#grand-total").text("৳ " + data.grand_total);

                        // Show success message
                        $("#shipping-message")
                            .text(data.message)
                            .fadeIn();

                        // Auto hide after 3s
                        setTimeout(function () {
                            $("#shipping-message").fadeOut();
                        }, 3000);
                    }
                }, error: function () {
                alert("শিপিং চার্জ আপডেট করতে সমস্যা হয়েছে। আবার চেষ্টা করুন।");
                }
            });
        });
    });
</script>
{% endblock %}