{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Checkout | Shorna Mart{% endblock %}

{% block extra_css %}
<style>
</style>
{% endblock %}

{% block content %}
<section class="checkout-wrapper section">
    <form action="" method="post" style="width:100%">
        <div class="container">
            <div class="row justify-content-center">
                <div class="w-100 text-center py-3">
                    <p>অর্ডারটি সম্পন্ন করতে <a href="#checkout">Proceed to checkout</a> এ ক্লিক করুন। ভুল বা বেশি প্রোডাক্ট সিলেক্ট হয়ে গেলে কাট পেজে গিয়ে, মাইনাস (-) এ ক্লিক করে রিমুভ করুন। <a href="/cart">View Cart</a></p>
                </div>

                {% csrf_token %}
                <!-- personal details -->
                <div class="col-lg-8">
                    <div class="checkout-steps-form-style-1">
                        <ul id="accordionExample">
                            <li>
                                <h6 class="title" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">Your Personal Details </h6>
                                <section class="checkout-steps-form-content collapse show" id="collapseThree"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>User Name</label>
                                                <div class="row">
                                                    <div class="col-md-12 form-input form">
                                                        <input type="text" placeholder="Full Name" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Phone Number</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Phone Number" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Shipping Address</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Shipping Address" required>
                                                </div>
                                            </div>
                                        </div>

                                        {% comment %}
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>City</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="City">
                                                </div>
                                            </div>
                                        </div>
                                        {% endcomment %}

                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Post Code</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Post Code">
                                                </div>
                                            </div>
                                        </div>

                                        {% comment %}
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Country</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Country">
                                                </div>
                                            </div>
                                        </div>
                                        {% endcomment %}

                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Region/State</label>
                                                <div class="select-items">
                                                    <select class="form-control" disabled>
                                                        <option value="{{district.pk}}">{{district}}</option>
                                                        {% comment %}
                                                        {% for district in districts %}
                                                            <option value="{{district.pk}}">{{district}}</option>
                                                        {% endfor %}
                                                        {% endcomment %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- payment information -->
                <div class="col-lg-4">
                    <div class="checkout-sidebar">
                        <div class="checkout-sidebar-coupon">
                            <p>Appy Coupon to get discount!</p>
                            <form action="checkout.html#">
                                <div class="single-form form-default">
                                    <div class="form-input form">
                                        <input type="text" placeholder="Coupon Code">
                                    </div>
                                    <div class="button">
                                        <button class="btn">apply</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="checkout-sidebar-price-table mt-30">
                            <h5 class="title">Order Summery</h5>

                            <div class="sub-total-price">
                                <div class="total-price">
                                    <p class="value">Subtotal Price:</p>
                                    <p class="price fw-bold">৳ {{ cart.subtotal|default_if_none:"0" }}</p>
                                </div>
                                <div class="total-price shipping">
                                    <p class="value">Shipping Charge:</p>
                                    <p class="price fw-bold">৳ {{ cart.get_shipping_charge|default_if_none:"0"}}</p>
                                </div>
                                <div class="total-price shipping">
                                    <p class="value">1% COD Charge:</p>
                                    <p class="price fw-bold">৳{{ cart.cod_charge|default_if_none:"0" }}</p>
                                </div>
                            </div>

                            <div class="total-payable">
                                <div class="payable-price">
                                    <p class="value">Total Price:</p>
                                    <p class="price fw-bold">৳{{ cart.grand_total|default_if_none:"0" }}</p>
                                </div>
                            </div>
                            <div class="price-table-btn button">
                                <button type="submit" class="btn btn-bg-primary" id="checkout">Proceed to checkout </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<!--====== Checkout Form Steps Part Ends ======-->
{% endblock %}

{% block extra_js %}{% endblock %}

