{% load static %}
<!-- Start Footer Area -->
<footer class="footer">
    <!-- Start Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <div class="footer-logo">
                            <a href="index.html">
                                <!-- 245 x 51-->
                               <img src="{% static 'assets/images/logo/logo.png' %}" alt="#">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-12">
                        <div class="footer-newsletter">
                            <h4 class="title">
                                Subscribe to our Newsletter
                                <span>Get all the latest information, Sales and Offers.</span>
                            </h4>
                            <div class="newsletter-form-head">
                                <form action="index.html#" method="get" target="_blank" class="newsletter-form">
                                    <input name="EMAIL" placeholder="Email address here..." type="email">
                                    <div class="button">
                                        <button class="btn">Subscribe<span class="dir-part"></span></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->


    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-12">
                        <div class="payment-gateway">
                            <span>We Accept:</span>
                            <img src="{% static 'assets/images/footer/credit-cards-footer.png' %}" alt="#">
                        </div>
                    </div>

                    <div class="col-lg-4 col-12">
                        <div class="copyright">
                            <p>
                                &copy; {% now "Y" %} All Rights Reserved
                                <a href="https://shornamart.com" rel="nofollow" target="_blank">
                                    Shorna Mart
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12">
                        <ul class="socila">
                            <li>
                                <span>Follow Us On:</span>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/shornamart" target="_blank" rel="nofollow">
                                    <i class="lni lni-facebook-filled"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/shornamart" target="_blank" rel="nofollow">
                                    <i class="lni lni-instagram"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.tiktok.com/@shornamart" target="_blank" rel="nofollow">
                                    <i class="lni lni-tiktok"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.pinterest.com/shornamart" target="_blank" rel="nofollow">
                                    <i class="lni lni-pinterest"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!--/ End Footer Area -->