{% load static %}
<!-- Start Header Area -->
<header class="header navbar-area" id="main-menu">
    <!-- Start Header Bottom -->
    <div class="container d-block">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-6 col-12">
                <div class="nav-inner">

                    <!-- Start Mega Category Menu -->
                    <div class="mega-category-menu d-flex align-items-center">
                        <div class="header-logo">
                            <a href="/" class="d-inline-block">
                                <!-- Recommended size: 245x51 -->
                                <img src="{% static 'assets/images/logo/logo.png' %}"
                                    alt="Shorna Mart"
                                    class="img-fluid site-logo"
                                >
                            </a>
                        </div>
                    </div>


                    <!-- End Mega Category Menu -->
                    <!-- Start Navbar -->
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a href="/" class="active" aria-label="Toggle navigation"> <i class="lni lni-home me-1"></i> Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/shop" aria-label="Toggle navigation"><i class="lni lni-cart me-1"></i> Shopping</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/offers" aria-label="Toggle navigation"><i class="lni lni-offer me-1"></i> Offers</a>
                                </li>
                                <!-- Track Order -->
                                <a href="" class="text-decoration-none d-flex align-items-center text-white">
                                    <i class="lni lni-map-marker me-1"></i>
                                    <span class="d-none d-lg-inline">Track Order</span>
                                </a>

                            </ul>
                        </div> <!-- navbar collapse -->
                    </nav>
                    <!-- End Navbar -->
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a href="" class="position-relative text-decoration-none text-white">
                                        <i class="lni lni-cart fs-5"></i>
                                        <span class="d-none d-lg-inline position-absolute top-1 start-100 translate-middle badge rounded-pill bg-danger">
                                            0
                                        </span>
                                    </a>

                                </li>

                                {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a href="" class="text-decoration-none d-flex align-items-center text-white">
                                            <i class="lni lni-exit me-1"></i>
                                            <span class="d-none d-lg-inline">Logout</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                    <a href="" class="text-decoration-none d-flex align-items-center text-white">
                                        <i class="lni lni-user me-1"></i>
                                        <span class="d-none d-lg-inline">My Account</span>
                                    </a>
                                </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="" class="text-decoration-none d-flex align-items-center text-white">
                                            <i class="lni lni-enter me-1"></i>
                                            <span class="d-none d-lg-inline">Login</span>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="" class="text-decoration-none d-flex align-items-center text-white">
                                            <i class="lni lni-user-plus me-1"></i>
                                            <span class="d-none d-lg-inline">Register</span>
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div> <!-- navbar collapse -->
                    </nav>

            </div>
        </div>
    </div>
    <!-- End Header Bottom -->
</header>
<!-- End Header Area -->