# Build, Test, and Push
name: Django CI # Name of the workflow

# Run on push to dev, main, release or PR targeting them
on:
  push:
    branches: [main, dev, release]
  pull_request:
    branches: [main, dev, release]

jobs:
  test:
    runs-on: ubuntu-latest # CI environment
    env:
      DB_NAME: test_db
      DB_USER: postgres
      DB_PASS: postgres
      DB_HOST: 127.0.0.1
      DB_PORT: 5432


    # Services needed for Django tests (PostgreSQL)
    services:
      postgres:
        image: postgres:15 # Docker image for PostgreSQL
        env:
          POSTGRES_DB: test_db # DB name for CI
          POSTGRES_USER: postgres # DB user
          POSTGRES_PASSWORD: postgres # DB password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      # Step 1: Checkout code
      - uses: actions/checkout@v4

      # 2Step 2: Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/local.txt

      # Step 4: Run code format check with black
      - name: Check code format with Black
        run: black --check .

      # Step 5: Run Lint code with Flake8
      - name: Lint code with Flake8
        run: flake8

      # Step 6: Run test with coverage
      - name: Run pytest with coverage
        env:
          DB_NAME: test_db
          DB_USER: postgres
          DB_PASS: postgres
          DB_HOST: 127.0.0.1
          DB_PORT: 5432
        run: |
          pytest --cov=.


      # Step 7: Run migrations to prepare DB
      - name: Run migrations
        env: # Set DB environment variables for Django
          DB_NAME: test_db
          DB_USER: postgres
          DB_PASS: postgres
          DB_HOST: 127.0.0.1
          DB_PORT: 5432
        run: |
          python manage.py migrate

      # Step 8: Run django db tests
      - name: Run Django tests
        env: # DB env again for test run
          DB_NAME: test_db
          DB_USER: postgres
          DB_PASS: postgres
          DB_HOST: 127.0.0.1
          DB_PORT: 5432
        run: |
          python manage.py test --keepdb --noinput

      # Step 9: Optional: Cache pip packages for faster runs
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements/base.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # Step 10: Upload coverage report
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
